<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903749005142-trjr0q5btg43tu2l1rei0vkq4cn8o1sq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903749005142-trjr0q5btg43tu2l1rei0vkq4cn8o1sq</string>
	<key>API_KEY</key>
	<string>AIzaSyAt_3dzsBBm0xKKBYOR8HE1fc5uOJURQyw</string>
	<key>GCM_SENDER_ID</key>
	<string>903749005142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.profcosmetic</string>
	<key>PROJECT_ID</key>
	<string>profcosmetik-f89d3</string>
	<key>STORAGE_BUCKET</key>
	<string>profcosmetik-f89d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903749005142:ios:32f9b625f6f69f2de930f7</string>
</dict>
</plist>